<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="car" class="com.tenneshop.beanlifecycle.Car"
		init-method="myInit" destroy-method="myDestroy">
		<property name="brand" value="RedFlagCA72"></property>
		<property name="maxSpeed" value="250"></property>
	</bean>

</beans>
